<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.muke.mapper.ChapterMapper" >
    <select id="getAllChpater" parameterType="map" resultType="ChapterBean">
        select * from (select a.*,rownum rn from (select ch.*,c.cname from chapter ch,course c where ch.Cno=c.cno and
		chStatus!=0 order by chNo) a where rownum<![CDATA[<]]>=(${page}*${rows}))
		b where rn<![CDATA[>]]>((${page}-1)*${rows}) 
    </select>
    
    <select id="getChapterByChnoOrCname" parameterType="map" resultType="ChapterBean">
        select ch.*,c.cname from chapter ch,course c
        <where>
            <if test="1==1">
                ch.Cno=c.cno 
            </if>
            <if test="chName!=null">
           		and chName like '%${chName}%'
	        </if>
	        <if test="cName!=0">
	            and c.cNo=#{cName}
	        </if>
        </where>
    </select>
    
    <select id="getChapterDetailByChno" parameterType="map" resultType="ChapterBean">
        select ch.*,c.cname from chapter ch,course c where  ch.Cno=c.cno and chNo=#{chNo}
    </select>
    <update id="updateChapterStatus" parameterType="map">
        update chapter set chStatus=#{chStatus} where chNo=#{chNo}
    </update>
    
   	<update id="delChapterInfo" parameterType="map">
   	    update chapter set chStatus=1 where chNo=#{chNo}
   	</update>
    
</mapper>