<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dream.muke.mapper.ChapterMapper" >
	<resultMap type="ChapterBean" id="ChapterBeanMap">
		<id property="chNo" column="chNo"/>
		<association property="course" column="cNo" select="findCourseByNo"/>
	</resultMap>
	<select id="findCourseByNo" parameterType="string" resultType="Course">
		select * from course where cNo=#{cNo}
	</select>

	<!-- 获取所有的章节信息 -->
	<select id="getAllChapter" resultMap="ChapterBeanMap">
		select * from chapter where chStatus!=1
	</select>
	
	<!-- 添加新的章节 -->
	<insert id="addNewChapter" parameterType="UploadChapterBean">
		<selectKey keyProperty="chOrder" keyColumn="chOrder" order="BEFORE" resultType="int">
			select nvl(max(chOrder),0)+1 as chOrder from chapter where cNo=#{cNo}
		</selectKey>
		insert into chapter values(seq_chapter_chNo.Nextval,#{chName},#{cNo},#{chContent},#{chOrder},'','','',2)
	</insert>
</mapper>